

.main-title{
    text-align: center;
}

.header-nav li{
    display: inline;
    padding: 30px;

}

.main{
    
}

.article{
    display: inline-block;
    max-width: 50%;
    text-align: justify;
    padding :;
    margin-right: 10%;
    margin-left: 5%;
    vertical-align: top;
}

.article h2{
    text-align: center;
}

.aside {

    display: inline-block;
    text-align: center;
    padding-top: 50px ;

}

.footer{
    margin-top: 50px;
    text-align: center;
    font-size: 80%;
}

