

body {

    background-color: rgb(255, 400, 200);
    font-size: 15px;
    font-family: montserrat, sans-serif;
  }


h4 {
    color: green;
    font-size: 1em;
  }


  
  p {
    font-family: monospace,helvetica,serif;
    line-height: 20px;
  }

  h1 {
    text-decoration: underline;
  }

  #para-voce {
    background-color:green;
    text-align: center;

  }

  .fundadores{
    background-color: white;
    font-weight: bold;
    font-style: italic;
  }